header, section, nav, main, footer, aside {
    display: block;
}

body {
    margin: 0;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #030512;
}

#animate-Bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
}

h1 {
    font-family: Holtwood One SC, Anton, sans-serif;
    letter-spacing: 5px;
    font-size: 2.986rem;
    margin: 0;
    padding: 10px;
    margin-bottom: 0%;
    color: #f5efeb;
}

h2 {
    font-family: Sanchez, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.488rem;
    color: #20304a;
}

h3 {
    font-size: 2.074rem;
    color: #20304a;
    text-decoration: underline;
    text-transform: uppercase;
}

header {
    position: sticky;
    top: 0;
    background-color: #20304a;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: all 0.3s;
}

header.scrolled {
    flex-direction: row;
}

header.scrolled h1 {
    width: 30%;
    font-size: 2rem;
}


#wrap {
    margin: 0 2% 2% 2%;
    background-color: #ffffff;
}

#rightpic, #loanpic {
    flex: auto;
}

nav {
    padding: 3%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: Sanchez, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

nav li {
    padding: 4% 0;
    border-bottom: 1px solid #20304a;   
    font-size: 30px;
}

main section div a {
    text-decoration: none;
}

#email, #phone, #linkedin, #home, #education, #experience, #projects {
    display: none;
}

nav a {
    font-size: 140%;
    font-weight: bold;
    text-decoration: none;
    color: #b5bbc6;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: lightgray;
}
.banner .intro-line {
    width: 380px;
    text-align: left;
    line-height: 1.2;
    font-size: 3.5rem;
    margin: -30px;
}
.banner .intro-line span {
    text-transform: uppercase;
    text-wrap-mode: nowrap;
    font-size: 0.9em;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: Sanchez, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

aside p {
    margin: 0;
    padding: 0 10px;
}

aside ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
}

#email, #phone, #linkedin {
    display: none;
}

#rightfoot {
    position:relative;
    float: right;
    color: #ebf2fb;
}

#correlationPic, #amazonLogo{
    margin: 2% 0 0 0;
}

.steam-container {
    height: 200px;
}

#profilePic {
    width: 48%;
}
#loanpic, #statpic, #correlationPic, #amazonLogo,#fanshawePic, #sqlpic   {
    display: block;
    max-width: 100%;  /* Ensures the image does not exceed container width */
    height: auto;     /* Maintains aspect ratio */
    box-sizing: border-box;
}

#loanpic, #statpic, #sqlpic{
    margin: 0 auto;
}


/* Tablet Style */
@media screen and (min-width:425px) {
    #email, #phone, #linkedin, #home, #education, #experience, #projects {
        display: contents;
    }

    nav a {
        font-size: 100%;
    }

    nav ul li {
        height: 2rem;
    }

    aside p {
        font-weight: bold;
    }

    #ref1, #ref2 {
        text-decoration: none;
        color: black;
        text-wrap: nowrap;
    }

    #ref3 {
        text-decoration: underline;
        color: black;
        text-wrap: nowrap;
    }

    
}

/* Desktop Style */
@media screen and (min-width:800px) {
    body {
        margin: 5% 5% 5% 5%;
        max-width:max-content;
    }

    #wrap {
        margin: 10px;
    }

    main {
        display: grid;
    }

    #hsymbol1, #hsymbol2, #hsymbol3, #hsymbol4, #fsymbol1, #fsymbol2, #fsymbol3 {
        display: contents;
    }

    h1 {
        font-size: 5rem;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 300%;
        grid-column: 1/ 3;
    }

    h3 {
        font-size: 100%;
    }
    nav {
        padding: 0 10px 10px 10px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content:space-around;
    }

    nav li {
        padding: 4% 0;
        border-bottom: none;   
        font-size: 100%;
    }

    nav ul li {
        height: 1rem;
        padding: 10px;
    }

    #rightfoot {
        margin: 0;
    }

    section {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        font-size: 20px;
        margin: 10px;
    }

    aside {
        margin: 30px 30px 10px 30px;
        grid-column: 1 / 2;
        grid-row: 2/3;
    }

    #prev {
        display: none;
    }
    
    #next {
        display: none;
    }


}

@media screen and (min-width:1500px){

    #wrap {
        position: absolute;  /* Prevent resizing and keep it fixed */
        left: 100px;          /* Keep a 10px margin from the left */
        right: 100px;         /* Keep a 10px margin from the right */
        top: 10px;
        background-color: #ffffff;
        box-sizing: border-box; /* Ensure padding doesn't affect dimensions */
        overflow: hidden;    /* Prevent overflow */
    }

    .slider {
        position: relative;
        overflow: hidden;
    }
    
    .slide {
        display: none;
        font-size: 2em;
    }

    .slide.active {
        display: flex;
    }

    .nav-button {
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        font-size: 2em;
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
        padding: 30px;
    }
    
    #prev {
        display: block;
        left: 10px;
    }
    
    #next {
        display: block;
        right: 10px;
    }


    #statpic{
        max-width: 75%;
    }


    #sqlpic{
        max-width: 80%;
    }

    .slide-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px; /* Space between text and image */
    }

    .intro-description {
        flex: 1;
        padding-right: 10px;
    }

    .slide-content img {
        flex: 0.4;
        max-width: 100%;
        height: auto;
    }
}
